<%page args="content"/>

<div class="container mb-3">
  <div class="row justify-content-sm-center">
    <div class="col col-sm-8">
      ## When a parent block is called
      ## it insert its content just there
      ## so we pass a function as content
      ## to called here.
      % if callable(content):
        ${content()}
      % else:
        ${content}
      % endif
    </div>
  </div>
</div>
