/* Sidebar */
.sidebar {
  background: #f1f1f1;
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
}

.post-title {
  margin-top: 10%;
  margin-bottom: 5%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
}

.footnotes {
  word-break: break-all;
  color: #777;
  font-size: 85%;
}


/* Utilities */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.no-margin {
  margin: 0px;
}

.padding-top {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.margin-bottom {
  margin-bottom: 100px;
}

.shadow {
  text-shadow: 3px 3px #125b9b;
}
