---
layout: default
title: Blog
section: blog
permalink: /
---

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
    Posts
  </div>

  <ul class="list-group">
    {% for post in site.posts %}
      {% if post.published %}
        <a href="{{ post.url }}" class="list-group-item">
          <h4 class="list-group-item-heading">{{ post.title }}</h4>
          <p class="list-group-item-text">
            <small>
              <span class="glyphicon glyphicon-calendar"></span>
              {{ post.date | date_to_string }}

              {% if post.intro %}
                <p>{{ post.intro }}</p>
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </small>
          </p>
        </a>
      {% endif %}
    {% endfor %}
  </ul>
</div>
