<%inherit file="base.tmpl"/>

<%block name="my_content">
  <div class="container mb-3">
    <div class="list-group">
      <li class="list-group-item list-group-item-secondary">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        Posts
      </li>
      % if posts:
      % for post in posts:
        <a href="${post.permalink()}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">${post.title()}</h5>
            <small>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              ${post.formatted_date(date_format)}
            </small>
          </div>
          <p class="mb-1">
            <small>
              ${post.description()}
            </small>
          </p>
        </a>
      % endfor
      % else:
        No posts
      % endif
    </div>
  </div>
</%block>

<%block name="content">
  <%include file="includes/content.tmpl" args="content=self.my_content"/>
  <%include file="includes/js/keybindings.tmpl"/>
</%block>
