<%inherit file="page.tmpl"/>

<%! from itertools import cycle %>

<%block name="my_content">
  % for index, talk in zip(cycle(range(2)), post.data('talks')):
    % if index == 0:
      <div class="row">
    % endif
      <div class="col-sm-6">
        <div class="thumbnail">
          % if talk.get('image'):
            <img src="${talk['image']}" alt="talk">
          % endif
          <div class="caption">
            <h3>${talk['title']}</h3>
            <p>
              <small>
                <span class="glyphicon glyphicon-calendar"></span>
                ${talk['date']}
              </small>
              % if talk.get('lang'):
                -
                <small>
                  <span class="glyphicon glyphicon-comment"></span>
                  ${talk['lang']}
                </small>
              % endif
            </p>
            <p>
              ${talk['description']}
            </p>
            <p>
              <a href="${talk['url']}" class="btn btn-primary" role="button">
                ${messages('View')}
              </a>
            </p>
            </p>
          </div>
        </div>
      </div>
    % if index == 1:
      </div>
    % endif
  % endfor
  % if index != 1:
    </div>
  % endif
</%block>

<%block name="content">
  <%include file="includes/content.tmpl" args="content=self.my_content"/>
  <%include file="includes/js/keybindings.tmpl"/>
</%block>
